<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>
                    WEBIGEM olarak; hızla gelişen teknolojiyi takip ederek firmaların ihtiyaçları
                    doğrultusunda, güncel teknolojilerle çözümler sunuyoruz. Web tasarım, yazılım
                    çözümleri, reklamlar ve SEO gibi dijital dünyanın
                    gerekleri olan çalışmalarda referansları ile ...
                </p>                <div class="read">
                    <a asp-action="Index" asp-controller="About" class="btn btn-primary read-m">Devamını Oku...</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <div class="tech-btm">
                    <h3>Yeni Bloglar</h3>
                    <!--Son 3 Postlar-->
                    @await Component.InvokeAsync("Footer3Blog")
                    <!--Sign up to our newsletter-->
                </div>
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Bültenimize Abone Olun</h2>
                <div class="subscribe-main text-left">
                    <!--Sign up to our newsletter-->
                    @await Html.PartialAsync("~/Views/Comment/SubscribeMail.cshtml")
                    <!--Sign up to our newsletter-->
                    <p>Gizliliğinize saygı duyuyoruz. Verilerimiz Kimseye Verilmeyecek! </p>
                </div>
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-pinterest-p"></i>
                                <span>Pinterest</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>

                    © @DateTime.Now.Year Webigem. Tüm Hakları Saklıdır| Design by
                    <a href="http://webigem.com/" target="_blank">Webigem</a>
                </p>

            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>